$main-color:#269ABD;

.project-accord--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .nav-tabs {
    border-bottom: 1px solid $main-color;

    .nav-item {
      margin-bottom: -2px;

      .nav-link {
        padding: 0.5rem 3rem;
        border-top-left-radius: 0.1rem;
        border-top-right-radius: 0.1rem;
        text-transform: uppercase;
        color: $main-color;
        .active-icon,.inactive-icon{
            margin-left: 1em;
        }

        .inactive-icon{
            display: inline-block;
        }
        .active-icon{
            display: none;
        }

        &.active,
        &:hover {
          border-color: $main-color $main-color #fff;
          .active-icon{
              display: inline-block;
          }
          .inactive-icon{
              display: none;
          }
        }
      }

      &.show {
        .nav-link {
          border-color: $main-color $main-color #fff;
        }
      }
    }
  }

  .main-content {
    width: 100%;
    float: left;
    position: relative;
    border: 1px solid $main-color;
    border-top: none;
    height: 75vh;
  }
}
