.question-wrapper{
    position: relative;
    float: left;
    width:100%;
    padding: 20px;
    .question-title{
        font-weight: 500;
    }
    .question-meta{
        color: lighten(#555,10);
        font-size: 0.8em;
        font-weight: 500;
    }
    .question-desc{
        font-weight: 500;
        font-size: 0.9em;
    }
}
